<!DOCTYPE html>

<html>
<%= flash[:notice] %>

<head>
  <title>Maker's BnB Homepage</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>

<div class="top">
  <div class="logo">
  </div>
  <div class="sign-up">
    <form action='/users/new'>
      <input type='submit' value='Sign Up'/>
    </form>
  </div>
  <div class="sign-in">
    <form action='/sessions/new'>
      <input type='submit' value='Sign in'/>
    </form>
  </div>
</div>


<div class="middle">
  <p>Check out our amazing spaces</p>
  <form action = '/spaces' method = 'get'>
  <input type = 'submit' value = 'Spaces'>
  </form>
</div>


</body>

