<form action="/spaces/availability/new" method="post">
  <label>Select your space:</label>
  <select id="space" name="space">
  <% @spaces.each do |space| %>
    <option value="<%= space.name %>"><%= space.name %></option>
    <% end %>
  </select>
  <br>
  <label>Date available:</label>
  <input type="date" name="date" data-date-format="yyyy/mm/dd" />
  <br>
  <input type="submit" value="Submit">
</form>

<h2>
<%= flash[:notice] %>
</h2>