<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">
<head>
<style>
.container {
  position: relative;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}
form {
    display: inline;
}
</style>
</head>
<body>
<div class="topright">
<form action = '/spaces' method = 'get'>
<input type = 'submit' value = 'Spaces'>
</form>
<form action = '/sessions/destroy' method = 'post'>
<input type = 'submit' value = 'Sign Out'>
</form>
</div>

</body>
</html>
<center><h1> Insert Space Availability Below </h1>
<form action="/spaces/availability/new" method="post">
  <label>Select your space:</label>
  <select id="space" name="space">
  <% @spaces.each do |space| %>
    <option value="<%= space.name %>"><%= space.name %></option>
    <% end %>
  </select>
  <br>
  <label>Start Date:</label>
  <input type="date" name="start_date" data-date-format="yyyy/mm/dd" />
  <br>
  <label>End Date:</label>
  <input type="date" name="end_date" data-date-format="yyyy/mm/dd" />
  <br>
  <input type="submit" value="Submit">
</form>
</center>

<h2>
<%= flash[:notice] %>
</h2>