<form action="spaces/availabilities" method="post">
  <select id="space" name="space">
      <option value="Strawberry Fields Cottage">Strawberry Fields Cottage</option>
    <option value="Another">Another</option>
  </select>
    
  <label>Date available:</label>
  <input type="date" name="date"/>

  <input type="submit" value="Submit">

</form>
