<form action = '/spaces' method = 'post'>
  <label for start_date> Start Date: </label>
  <input type='date' id = start_date name = 'start_date' min='01/01/2022' max = '31/12/2027'/>
  <br>
  <label for end_date> End Date: </label>
  <input type='date' id = end_date name = 'end_date' min='01/01/2022' max = '31/12/2027'/>
  <br>
  <label for location> Location: </label>
  <input type='text' id = location name = 'location'/>
  <br>
  <input type='submit' name = 'Submit'>
</form>

