<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">
<head>
<style>
.container {
  position: relative;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}
</style>
</head>
<body>
<div class="topright">
<form action = '/spaces' method = 'get'>
<input type = 'submit' value = 'Spaces'>
</form>
</div>

</body>
</html>

<%= flash[:notice] %>
<center><h1> Sign Up </h1>
<form action="/users" method="post">
  <input type="email" name="email" placeholder="email" />
  <br>
  <input type= "password" name="password" placeholder="password" />
  <br>
  <input type='submit' value='Sign Up'/>
</form>
</center>